<div class="header_inner">
  <div class="service_menu f_left compact_mode">
    <ul class="list_inline">
      <li class="first">
      </li>
      <li class="service_index">
      </li>
    </ul>
  </div>
  <div class="global_menu f_right">
    <div id="async-view-global_user_menu" class="partial-async-view">
      <ul class="guest_menu list_inline">
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>
</div>